.image {
  display: inline-block;
  text-align: center;
  width: 320px;
  height: 375px;
  margin-top: 30px;
}
figure {
  overflow: hidden;
  margin: 0 10px;
  width: 100%;
  border-radius: 15px;
}
h3 {
  color: #000;
  margin-top: 15px;
}
p {
  padding: 0 10px;
}
.image img {
  display: block;
  width: 100%;
  height: 210px;
  cursor: pointer;
}

.image #zoom-In figure img {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.image #zoom-In figure:hover img {
  transform: scale(1.2);
}
.title-projects {
  width: 100%;
  text-align: center;
}
.projects-section {
  padding: 150px 125px;
  height: 230vh;
}
.content-projects {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 80px;
}
.content-p1-projects {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
#project-h3 {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
}
.project-view {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
.project-view a {
  color: blue;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
}
.project-view a:hover {
  color: #000;
  transition: 1s;
}
@media (max-width: 1160px) {
  .image {
    width: 285px;
    height: 302px;
  }
  .content-p1-projects {
    font-size: 15px;
  }
}
@media (max-width: 980px) {
  .image {
    width: 382px;
    height: 323px;
  }
  .row {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .projects-section {
    padding: 110px 85px;
  }
}
@media (max-width: 768px) {
  .image {
    width: 350px;
    height: 300px;
  }
  .row {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .projects-section {
    padding: 20px 40px;
  }
}
@media (max-width: 540px) {
  .row {
    grid-template-columns: 1fr;
  }
  .image {
    width: 450px;
    height: 360px;
  }
  .title-projects {
    padding-left: 35px;
  }
  .projects-section {
    height: auto;
  }
}
@media (max-width: 411px) {
  .image {
    width: 360px;
  }
  .projects-section {
    height: auto;
  }
}
@media (max-width: 375px) {
  .image {
    width: 330px;
  }
  .row {
    grid-gap: 0px;
  }
  .title-projects {
    padding-left: 55px;
  }
}
